/**
 * Templates: Product
 * -----------------------------------------------------------------------------
 * Styles for the product page template.
 */

.product-hero{
    padding: 100px 0;
    position: relative;
    &:after{
        content: '';
        width: 53%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        @include mq($until: large) {
            width: 100%;
            height: 65%;
            top: auto;
            bottom: 0;
            left: 0;
        }
    }
    &__pattern{
        width: 47%;
        height: 100%;
        background-image: url(../images/vertical-product-pattern.png);
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: 0;
        background-repeat: no-repeat;
        background-position: right;
        @include mq($until: large) {
            width: 100%;
            height: 35%;
            background-image: url(../images/hero-bottom.png);
            background-position: bottom;
        }
    }
    &__image{
        position: relative;
        z-index: 1;
        @include mq($until: large) {
            text-align: center;
            margin-bottom: 60px;
        }
    }
    &__content{
        position: relative;
        z-index: 1;
    }
    &__title{
        font-size: 40px;
        line-height: 48px;
        color: #000;
        font-family: 'Museo Sans';
        font-weight: 900;
        margin: 0px 0 34px;
        @include mq($until: large) {
            font-size: 32px;
            line-height: 38px;
        }
    }
    &__sub-title{
        font-size: 30px;
        line-height: 36px;
        font-family: 'Museo Sans';
        color: #D11B27;
        margin: 0px 0 34px;
        font-weight: 700;
    }
    &__text{
        font-weight: 700;
        font-family: 'Museo Sans';
        font-size: 18px;
        // line-height: 22px;
        color: #000;
        margin: 0 0 28px;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin-bottom: 50px;
        margin-top: 0;
        li{
            font-weight: 500;
            font-family: 'Museo Sans';
            font-size: 18px;
            // line-height: 22px;
            color: #222;
        }
    }
    &__pricing-cart{
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        .button{
            margin-right: 15px;
        }
    }
    &__pricing-box{
        display: flex;
        align-items: center;
        span{
            font-weight: 700;
            font-family: 'Museo Sans';
            font-size: 13px;
            line-height: 12px;
            color: #000;
        }
    }
    &__price{
        font-weight: 700;
        font-family: 'Museo Sans';
        font-size: 30px;
        line-height: 36px;
        color: #D11B27;
        margin: 0;
        margin-right: 10px;
    }
    &__status{
        font-weight: 700;
        font-family: 'Museo Sans';
        font-size: 16px;
        line-height: 20px;
        color: #D11B27;
        margin: 0;
    }
}


.center-trustpilot{
    text-align: center;
    padding: 80px 0;
    background-color: #fff;
    &__header-image{
        margin: 0 0 28px;
    }
    &__title{
        font-size: 36px;
        line-height: 43px;
        color: #000;
        font-family: 'Museo Sans';
        font-weight: 900;
        margin: 0px 0 70px;
        @include mq($until: large) {
            font-size: 32px;
            line-height: 38px;
            margin: 0px 0 50px;
        }
    }
}
.center-trustpilot-column{
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    @include mq($until: large) {
        padding: 50px 30px;
    } 
    @include mq($until: 767px) {
        margin-bottom: 40px;
    }
    &__title{
        font-family: 'Museo Sans';
        font-weight: 800;
        font-size: 20px;
        // line-height: 24px;
        margin: 0 0 25px;
    }
    &__sub-title{
        font-family: 'Museo Sans';
        font-weight: 800;
        font-size: 20px;
        // line-height: 24px;
        margin: 0 0 15px;
    }
    p{
        font-family: 'Museo Sans';
        font-weight: 500;
        font-size: 20px;
        // line-height: 26px;
        margin: 0 0 45px;
    }
}