/**
 * Templates: Solution
 * -----------------------------------------------------------------------------
 * Styles for the solution page template.
 */
.page-template-solution {
  .features {
    @include border-top('../images/features-border-top.png');
    background-color: $COLOR_WHITE;

    &__content {
      text-align: left;
    }

    &::before {
      height: 8vw;
      top: 1px;
      transform: translateY(-100%);
    }
  }
}