/**
 * Templates: Landing
 * -----------------------------------------------------------------------------
 * Styles for the landing page template.
 */
.media-long-content__title {
  font-size: 32px;
  line-height: 38px;
  color: #000; }
