/**
 * Base: Forms
 * -----------------------------------------------------------------------------
 * Defines the base form and input styles.
 */
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
textarea,
select {
  background-color: $COLOR_WHITE;
  border: 0;
  border-radius: 0;
  color: $COLOR_BLACK;
  font-family: $FONT_BODY;
  font-size: 15px;
  padding: 0.85rem $SPACING_M;

  &::placeholder {
    color: $COLOR_MINE_SHAFT;
  }
}

select {
  appearance: none;
  background-color: $COLOR_WHITE;
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  padding-right: $SPACING_L;
}

label {
  display: block;
  font-size: 14px;
  padding-bottom: $SPACING_XS;
}

input[type=button],
input[type=submit] {
  @extend .button;
}

.form__field {
  margin: 0 0 $SPACING_S;
  width: 100%;

  label {
    display: block;
    margin: 0 0 $SPACING_XS;
  }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=search],
  input[type=tel],
  input[type=number],
  textarea,
  select {
    width: 100%;
  }

  &--border {
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=number],
    textarea,
    select {
      border: 1px solid rgba($COLOR_ALTO, 0.5);
    }
  }
}

.form__success {
  color: $COLOR_SUCCESS;
}
