/**
 * Section: Callout
 * -----------------------------------------------------------------------------
 * Displays a callout image, content and a form.
 */
.callout {
  background-color: $COLOR_WHITE;
  display: inline-block;
  width: 100%;

  &__container {
    margin: 0 auto;
    max-width: 1440px;
  }

  &__title {
    font-size: 40px;
    margin-bottom: $SPACING_3XL * 2;
    width: 80%;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__image {
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 590px;
    padding-top: 30%;
    width: 50%;
  }

  &__content {
    font-size: 16px;
    padding: 0 $SPACING_3XL * 3 $SPACING_3XL * 1.5 $SPACING_3XL * 1.5;
    width: 50%;

    strong {
      font-size: 24px;
    }
  }

  &__form-container {
    background-color: $COLOR_WHITE;
    float: right;
    padding: $SPACING_3XL * 1.4 25% $SPACING_2XL $SPACING_3XL * 3.5;
    text-align: center;
    transform: translateY(-25%);
    width: 85%;

    @media (max-width: 1180px) {
      transform: translateY(-20%);
    }
  }

  &__form {
    margin: 0 auto;
    width: 90%;
  }

  &__form-title {
    display: inline-block;
    font-size: 20px;
    font-weight: $WEIGHT_BOLD;
    margin-bottom: $SPACING_3XL;
    position: relative;

    &::after {
      background-color: $COLOR_PRIMARY;
      content: "";
      display: block;
      height: 1px;
      margin: $SPACING_M 0 0 0;
      position: absolute;
      right: 0;
      width: calc(100% + 62vw);
    }
  }

  &__submit {
    margin-top: $SPACING_S;
  }

  @include mq($until: large) {
    padding-top: $SPACING_3XL;

    &__title {
      font-size: 25px;
      margin-bottom: $SPACING_XL;
      width: 100%;
    }

    &__row {
      align-items: flex-end;
      flex-direction: column;
    }

    &__image {
      padding-top: 90%;
      width: 100%;
    }

    &__content {
      background-color: $COLOR_WHITE;
      margin-bottom: -15%;
      padding: $SPACING_3XL;
      transform: translateY(-30%);
      width: 95%;
    }

    &__content-inner {
      font-size: 14px;

      strong {
        font-size: 18px;
      }
    }

    &__form-container {
      padding: $SPACING_XL;
      text-align: center;
      transform: none;
      width: 100%;
    }

    &__form-title {
      display: inline-block;
      font-size: 18px;

      &::after {
        left: -8.5rem;
        width: calc(100% + 8.5rem);
      }
    }

    &__form {
      max-width: 100%;
      width: 100%;
    }
  }
}
