/**
 * Section: Feature Tabs
 * -----------------------------------------------------------------------------
 * Toggleable tabs.
 */
.feature-tabs {
  $PARENT: &;
  overflow: hidden;
  padding: $SPACING_3XL * 3 0 $SPACING_3XL * 4 0;

  &__title {
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: $SPACING_XL;
    text-align: center;
  }

  &__content {
    text-align: center;
  }

  &__control-group {
    border-bottom: 1px solid $COLOR_ALTO;
    margin-top: $SPACING_2XL;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    width: 100%;
  }

  &__control {
    @include button-reset;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: $WEIGHT_MEDIUM;
    min-width: 200px;
    padding: $SPACING_S $SPACING_XL;
    position: relative;

    &.is-active {
      &::after {
        background-color: $COLOR_PRIMARY;
        bottom: -1px;
        content: '';
        display: block;
        height: 2px;
        left: 50%;
        max-width: 60px;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 80%;
      }
    }
  }

  &__item-row {
    position: relative;
  }

  &__content-block {
    padding-top: $SPACING_3XL;

    &:nth-child(1n) {
      @include mq($from: large) {
        #{$PARENT}__item-image {
          bottom: 30%;
          left: 42%;
        }

        #{$PARENT}__item-features {
          bottom: 0;
          justify-content: flex-start;
          padding-left: 10%;
          padding-top: 5%;
          right: 5%;
          top: unset;
          width: 38%;

          &::after {
            background-image: url('../images/feature-bg--1.png');
            height: 150%;
            right: -50%;
            width: 150%;
          }
        }
      }
    }

    &:nth-child(2n) {
      @include mq($from: large) {
        #{$PARENT}__item-features {
          justify-content: flex-end;
          padding-bottom: 0;
          padding-left: 5%;

          &::after {
            background-image: url('../images/feature-bg--2.png');
            background-size: cover;
            height: 160%;
            left: -15%;
            width: 160%;
          }
        }

        #{$PARENT}__item-image {
          left: 60%;
          bottom: 25%;
        }
      }
    }

    &:nth-child(3n) {
      @include mq($from: large) {
        #{$PARENT}__item-features {
          height: 80%;
          right: -2%;

          &::after {
            background-image: url('../images/feature-bg--3.png');
            background-position: left;
            background-size: contain;
            left: -5%;
            width: 150%;
          }
        }

        #{$PARENT}__item-image {
          bottom: 0;
          height: 40%;
          left: 50%;
        }
      }
    }

    &:nth-child(4n) {
      @include mq($from: large) {
        #{$PARENT}__item-heading {
          &:first-of-type {
            color: $COLOR_PRIMARY;
            font-size: 215px;
            font-weight: $WEIGHT_BLACK;
            line-height: 0.8;
          }

          &:last-of-type {
            color: $COLOR_BLACK;
            font-weight: $WEIGHT_LIGHT;
          }
        }

        #{$PARENT}__item-features {
          justify-content: flex-start;
          height: 80%;
          padding-top: 1%;

          &::after {
            background-image: url('../images/feature-bg--4.png');
            background-size: contain;
            left: -25%;
            top: -10%;
            width: 210%;
          }
        }

        #{$PARENT}__item-image {
          bottom: -2%;
          height: 50%;
          left: 55%;
        }
      }
    }

    &:nth-child(5n) {
      @include mq($from: large) {
        #{$PARENT}__item-features {
          bottom: unset;
          justify-content: flex-start;
          padding-left: 0;
          padding-top: 14%;
          top: 0;

          &::after {
            background-image: url('../images/feature-bg--5.png');
            background-size: contain;
            left: -20%;
            top: 0;
            width: 170%;
          }
        }

        #{$PARENT}__item-image {
          bottom: 6%;
          height: 50%;
          left: 52%;
        }
      }
    }
  }

  &__item-header {
    text-align: left;
  }

  &__item-heading {
    color: $COLOR_PRIMARY;
    font-family: $FONT_CALLOUT;
    font-size: 183px;
    font-weight: $WEIGHT_BOLD;
    line-height: 0.8;
    margin: 0;
    text-transform: uppercase;

    &:first-of-type {
      color: $COLOR_BLACK;
      font-size: 80px;
      font-weight: $WEIGHT_MEDIUM;
      line-height: 1;
    }

    &:last-of-type {
      color: $COLOR_BLACK;
    }
  }

  &__item-intro {
    color: $COLOR_MINE_SHAFT;
    font-size: 20px;
    font-weight: $WEIGHT_BOLD;
    line-height: 1.2;
    text-align: left;
  }

  &__item-content {
    color: $COLOR_MINE_SHAFT;
    text-align: left;
  }

  &__item-features {
    @include list-reset;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: flex-end;
    padding: 0 0 6% 4%;
    position: absolute;
    top: 0;
    width: 60%;
    z-index: -1;

    &::after {
      background-image: url('../images/feature-bg.png');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &__item-feature {
    color: $COLOR_PRIMARY;
    font-size: 20px;
    line-height: 2.28;
  }

  &__item-image {
    bottom: 0;
    height: 50%;
    left: 55%;
    position: absolute;
  }

  @include mq($until: large) {
    padding: 4rem 0;

    &__control {
      padding-left: 0;

      &.is-active {
        &::after {
          left: 0;
          transform: translateY(-50%);
        }
      }
    }

    &__item-image {
      height: auto;
      position: static;
      width: 100%;
    }

    &__item-features {
      position: static;
      width: 100%;

      &::after {
        display: none;
      }
    }

    &__item-feature {
      font-size: 18px;
      line-height: 2;
    }

    &__item-heading {
      font-size: 113px;

      &:first-of-type {
        font-size: 50px;
      }
    }
  }

  @include mq($until: medium) {
    &__item-feature {
      font-size: 16px;
    }
  }

  @include mq($from: small, $until: large) {
    &__item-image {
      display: block;
      margin: $SPACING_XL auto;
      width: 60%;
    }
  }
}
