/**
 * Section: Latest News
 * -----------------------------------------------------------------------------
 * Displays the latest posts and featured posts.
 */
.latest-news {
  margin: 0 auto;
  max-width: 1440px;
  padding: $SPACING_3XL 0;
  position: relative;

  &__container {
    @include mq($from: 1441px) {
      position: relative;
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: $SPACING_XL;
    text-transform: uppercase;
  }

  &__posts {
    @include list-reset;
  }

  &__post {
    border-bottom: 1px solid $COLOR_BLACK;
    margin-bottom: $SPACING_L;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__post-title {
    font-size: 20px;
    font-weight: $WEIGHT_BLACK;
    text-decoration: none;
  }

  &__post-excerpt {
    line-height: 1;
    margin: $SPACING_XS 0;
  }

  &__post-date {
    color: $COLOR_SILVER_CHALICE;
    font-weight: $WEIGHT_LIGHT;
  }

  &__highlighted {
    max-width: 780px;
    position: absolute;
    right: 0;
    top: 54%;
    transform: translateY(-50%);
    width: 60%;
  }

  &__highlighted-header {
    font-size: 12px;
    font-weight: $WEIGHT_BLACK;
    margin: $SPACING_M;
    position: relative;
    text-transform: uppercase;
    width: calc((100% / 1.2) - #{$SPACING_M});

    span {
      background-color: $COLOR_BACKGROUND;
      padding-right: $SPACING_S;
    }

    &::before {
      background-color: $COLOR_BLACK;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: -1;
    }
  }
  
  &__carousel {
    overflow: hidden;
    padding: 0 0 $SPACING_XL $SPACING_M;
    width: 100%;
    z-index: 12;

    .flickity-viewport {
      overflow: visible;
    }
  }

  &__card {
    border: 1px solid rgba($COLOR_BLACK, 0.02);
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    display: flex;
    flex-direction: column;
    margin: 0 $SPACING_M;
    width: calc(100% / 1.2);

    &.is-resized {
      bottom: 0;
      top: 0;
    }
  }

  &__card-thumbnail {
    background-position: center;
    background-size: cover;
    padding-top: 46%;
    width: 100%;
  }

  &__card-body {
    background-color: $COLOR_WHITE;
    flex-grow: 1;
    padding: $SPACING_XL $SPACING_XL $SPACING_L;
  }

  &__card-title {
    margin: 0 0 $SPACING_XS 0;
  }

  &__card-link {
    text-decoration: none;
  }

  &__card-date {
    color: $COLOR_SILVER_CHALICE;
    font-weight: $WEIGHT_LIGHT;
    margin: $SPACING_XS 0 0 0;
  }

  &__card-content {
    margin: 0;
  }

  @include mq($until: large) {
    &__title {
      @include visually-hidden;
    }

    &__post {
      &:first-of-type {
        border-top: 1px solid $COLOR_BLACK;
        padding-top: $SPACING_M;
      }
    }

    &__highlighted {
      max-width: 100%;
      position: static;
      transform: none;
      width: 100%;
    }

    &__highlighted-header {
      margin: 0;
      padding: 0 calc(6% + #{$SPACING_2XS});
      width: 100%;

      span {
        font-size: 0;

        &::before {
          content: attr(data-mobile);
          display: block;
          font-size: 16px;
        }
      }

      &::before {
        display: none;
      }
    }

    &__card {
      margin: 0 $SPACING_XS;
      width: 100% / 1.2;
    }

    &__carousel {
      padding: 0 0 $SPACING_3XL 0;

      .flickity-slider {
        margin-left: 6%;
      }

      .flickity-page-dots {
        display: none;
      }
    }

    .row {
      display: flex;
      flex-direction: column-reverse;

      .col {
        width: 100%;

        &:last-of-type {
          padding: 0;
        }
      }
    }

    .button {
      display: block;
      margin: $SPACING_3XL auto 0 auto;
      width: 60%;
    }
  }

  @include mq($until: medium) {
    background-color: $COLOR_WHITE;
    padding: 0;
  }
}