/**
 * Section: Newsletter Callout
 * -----------------------------------------------------------------------------
 * A newsletter section with title and subtitle.
 */
.newsletter-callout {
  @include grazed-background;

  &__wrapper {
    @include border-bottom('../images/newsletter-border-bottom.png');
    @include border-top('../images/newsletter-border-top.png');
    padding: $SPACING_3XL * 3.5 0 $SPACING_3XL * 2.5 0;
  }

  &__container {
    margin: 0 auto;
    max-width: 660px;
    padding: 0 $SPACING_L;
  }

  &__header {
    border-bottom: 1px solid $COLOR_WHITE;
    text-align: center;
  }

  &__title {
    color: $COLOR_WHITE;
    font-size: 45px;
    margin-bottom: $SPACING_S;
    margin-top: $SPACING_L;
  }

  &__subtitle {
    color: $COLOR_WHITE;
    font-size: 20px;
    margin: $SPACING_S 0 $SPACING_L 0;
  }

  &__form {
    margin: $SPACING_2XL auto 0 auto;
    max-width: 545px;
    iframe{
      width: 100% !important;
      margin: 0px auto;
    }
  }

  &__submit {
    margin-top: $SPACING_L;
  }

  .form__field {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  @include mq($from: wide) {
    &__wrapper {
      padding: 16.5rem 0 13.5rem 0;
    }
  }

  @include mq($until: medium) {
    &__wrapper {
      padding: $SPACING_3XL * 2 0;
    }

    &__title {
      font-size: 35px;
    }
  }

  @include mq($until: small) {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }

  .home & {
    margin-top: -2rem;
  }
}