/**
 * Section: Trustpilot
 * -----------------------------------------------------------------------------
 * Banner displaying Trustpilot image and logo.
 */
.trustpilot {
  @include border-top("../images/testimonials-border-top.png");

  padding-top: 10vw;

  &__body {
    background-color: $COLOR_WHITE;
  }

  &__title {
    font-size: 50px;
    margin-top: $SPACING_M;
  }

  &__content {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: $SPACING_2XL;
  }

  &__logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    margin-right: $SPACING_L;
    max-height: 45px;
  }

  @include mq($until: large) {
    background-color: $COLOR_WHITE;
    margin-bottom: $SPACING_XL;
    padding-top: $SPACING_3XL * 2;
    text-align: center;

    &__title {
      font-size: 35px;
    }

    &__logos {
      justify-content: center;
    }

    &__logo {
      margin: $SPACING_M;
    }

    &__main-image {
      margin-top: $SPACING_2XL;
    }

    &::before {
      display: none;
    }
  }

  .page-template-uniquely & {
    padding-top: 0;

    &::before {
      display: none;
    }
  }
}
