/**
 * Templates: Archive
 * -----------------------------------------------------------------------------
 * Styles for the archive category template.
 */
.archive {
  &__header {
    padding: $SPACING_3XL 0;
    text-align: center;
  }

  @include mq($until: medium) {
    &__sidebar {
      border-top: 1px solid $COLOR_BORDER;
      padding-top: $SPACING_M;
    }
  }
}