/**
 * Templates: Blog
 * -----------------------------------------------------------------------------
 * Styles for the blog page template.
 */
.blog {
  &__title {
    font-size: 24px;
    margin: $SPACING_3XL 0 $SPACING_XL 0;
    text-transform: uppercase;
  }

  &__grid {
    align-items: unset;
  }

  .site-main {
    background-color: $COLOR_WHITE;
  }

  @include mq($from: large) {
    &__grid {
      .card {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }

  @include mq($until: large) {
    &__title {
      font-size: 20px;
      margin: $SPACING_L 0 0;
      position: absolute;
      top: 0;
    }

    .highlighted {
      margin: 0 -#{$SPACING_L} $SPACING_3XL -#{$SPACING_L};
    }

    .site-main {
      padding-top: $SPACING_3XL * 2.5;
      position: relative;

      .col {
        position: static;
      }
    }
  }
}