/**
 * Templates: Landing
 * -----------------------------------------------------------------------------
 * Styles for the landing page template.
 */

.align-item-center{
    align-items: center;
}
strong{
    font-weight: 800;
}
.title-line-pattern{
     position: relative;
     margin-top: 38px !important;
     &::before{
        content: '';
        height: 5px;
        width: 67px;
        background: #D11B27;
        position: absolute;
        left: 0;
        top: -38px;
     }
}

.page-template-landing{
    background-color: #fff;
    @include mq($until: 800px) {
        padding-top: 70px;
    }
}

// tall-hero
.tall-hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    padding: 165px 0;
    position: relative;
    @include mq($until: medium) {
        padding: 180px 0 120px;
    }
    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/hero-top.png);
        background-position: top;
        background-size: 100%;
        height: 100%;
        left: 0;
        top: -30px;
        right: 0;
        width: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        @include mq($until: large) {
            top: -1px;
        }
    }
    &::after{
        content: "";
        position: absolute;
        background-image: url(../images/hero-bottom.png);
        background-position: bottom;
        background-size: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: -15px;
        width: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        @include mq($until: large) {
            bottom: -1px;
        }
    }
    &__content{
        position: relative;
        z-index: 2;
    }
    &__title{
        font-size: 48px;
        line-height: 58px;
        color: #fff;
        font-family: 'Museo Sans';
        font-weight: 900;
        margin: 0px 0 22px;
        @include mq($until: medium) {
          font-size: 40px;
          line-height: 48px;
        }
    }
    &__text{
        font-family: 'Museo Sans';
        font-size: 18px;
        // line-height: 22px;
        color: #fff;
        margin-bottom: 35px;
        @include mq($until: medium) {
            margin-bottom: 50px;
        }
    }
    &.tall-hero-desktop{
        display: block;
        @include mq($until: 767px) {
            display: none;
        }
    }
    &.tall-hero-mobile{
        display: none;
        @include mq($until: 767px) {
            display: block;
        }
    }
}

// media-long-conten
.media-long-content {
    padding: 110px 0;
    background-color: #fff;
    @include mq($until: large) {
        padding: 100px 0;
    }
    &__media{
        padding-right: 20px;
        margin-bottom: 0;
        @include mq($until: large) {
            padding-right: 0px;
            margin-bottom: 55px;
        }
        img{
            width: 100%;
        }
    }
    &__title{
        font-size: 32px;
        line-height: 38px;
        color: #000;
        font-family: 'Museo Sans';
        font-weight: 900;
        margin: 0px 0 38px;
        @include mq($until: medium) {
            font-size: 30px;
            line-height: 36px;
            margin: 0px 0 48px;
        }
    }
    &__text{
        font-family: 'Museo Sans';
        font-size: 18px;
        // line-height: 22px;
        color: #000;
        margin-bottom: 54px;
        @include mq($until: medium) {
            margin-bottom: 40px;
        }
    }
    &__column{
        width: 50%;
        float: left;
        @include mq($until: medium) {
            width: 100%;
            float: none;
        }
        &:first-child{
            padding-right: 15px;
            @include mq($until: medium) {
                padding-right: 0px;
            }
        }
        &:last-child{
            padding-left: 15px;
            @include mq($until: medium) {
                padding-left: 0px;
            }
        }
        p{
            font-family: 'Museo Sans';
            font-size: 18px;
            // line-height: 22px;
            color: #000;
            margin: 5px 0 20px;
        }
        strong{
            font-family: 'Museo Sans';
            font-size: 18px;
            line-height: 22px;
            color: #D11B27;
        }
    }
    &__mobile-img{
        display: none;
        @include mq($until: large) {
            display: block;
        }
    }
    &__desk-img{
        display: block;
        @include mq($until: large) {
            display: none;
        }
    }
}

// content-with-media
.content-with-media{
    padding: 50px 0 80px;
    background-color: #fff;
    @include mq($until: 767px) {
        padding: 50px 0 80px;
    }
    &__title{
        font-size: 40px;
        line-height: 48px;
        color: #000;
        font-family: 'Museo Sans';
        font-weight: 900;
        margin: 0px 0 38px;
        @include mq($until: large) {
            font-size: 30px;
            line-height: 36px;
        }
    }
    &__text{
        font-family: 'Museo Sans';
        font-size: 18px;
        // line-height: 22px;
        color: #000;
        margin-bottom: 54px;
        @include mq($until: large) {
            margin-bottom: 60px;
        }
    }
    .content-with-media-content{
        padding-right: 120px;
        @include mq($until: 991px) {
            padding-right: 1.5em;
        }
    }
    &__media{
        width: 100%;
        display: block;
        overflow: hidden;    
        img{
            width: 100%;
        }
    }
    &--left{
        .content-with-media-content{
            padding-left: 120px;
            padding-right: 1.5em;
            order: 1;
            @include mq($until: 991px) {
                padding-left: 1.5em;
            }
            @include mq($until: medium) {
                order: 0;
            }
        }
    }
    .slick-slider{
      .slick-active{
         padding-right:50px;
      }
      .slick-active + .slick-slide{
         margin-left:-50px;
      }
    }
}
.feature-grid {
    overflow-x: hidden;
} 

// trustpilot
.trustpilot{
    &__subtitle{
        margin: 12px 0 0;
    }
    &__review{
        position: relative;
        padding-top: 60px;
        &:before{
            content: '';
            width: 67px;
            height: 1px;
            background: #00B67A;
            position: absolute;
            top: 0;
        }
        img{
            @include mq($until: large) {
                margin-left: 0;
            }
        }
    }
    &--right{
        background-color: #fff;
        .trustpilot-info{
            order: 1;
            @include mq($until: large) {
                order: 0;
            }
        }
    }
    &--without-pattern{
        background-color: #fff;
        padding-top: 80px;
        @include mq($until: large) {
            text-align: left;
        }
        &:before{
            display: none;
        }
    }
}

.cta-module{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    padding: 200px 0;
    position: relative;
    text-align: center;
    background-image: url(../images/newsletter-background.png);
    @include mq($until: large) {
        padding: 115px 0;
    }
    &::before{
        content: "";
        position: absolute;
        background-image: url(../images/hero-top.png);
        background-position: top;
        background-size: 100%;
        height: 100%;
        left: 0;
        top: -1px;
        right: 0;
        width: 100%;
        z-index: 1;
        background-repeat: no-repeat;
    }
    &::after{
        content: "";
        position: absolute;
        background-image: url(../images/hero-bottom.png);
        background-position: bottom;
        background-size: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: -1px;
        width: 100%;
        z-index: 1;
        background-repeat: no-repeat;
    }
    &__info{
        width: 60%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        @include mq($until: large) {
            width: 95%;
        }
    }
    &__title{
        font-size: 40px;
        line-height: 48px;
        color: #fff;
        font-family: 'Museo Sans';
        font-weight: 900;
        margin: 0px 0 30px;
        @include mq($until: medium) {
            font-size: 30px;
            line-height: 36px;
            margin: 0px 0 45px;
        }
    }
    p{
        font-family: 'Museo Sans';
        font-size: 18px;
        // line-height: 22px;
        color: #fff;
        margin-bottom: 60px;
        @include mq($until: medium) {
            margin-bottom: 50px;
        }
    }
    .button{
        background-color: #fff;
        color: #cf0000;
    }
}

// content-with-accordion
.content-with-accordion{
    padding: 80px 0;
    background-color: #fff;
    &__title{
        font-size: 40px;
        line-height: 48px;
        color: #000;
        font-family: 'Museo Sans';
        font-weight: 900;
        margin: 0px 0 38px;
        @include mq($until: large) {
            font-size: 30px;
            line-height: 36px;
        }
    }
    &__text{
        font-family: 'Museo Sans';
        font-size: 18px;
        // line-height: 22px;
        color: #000;
        margin-bottom: 54px;
    }
    &__media{
        width: 100%;
        @include mq($until: 767px) {
            margin-bottom: 55px;
        }
        img{
            width: 100%;
        }
    }
}
.accordionWrapper{
    .accordionItemHeading{
        cursor:pointer;
        margin: 0px;
        padding: 22px;
        color:#3C3C3B;
        font-family: 'Museo Sans';
        font-size: 16px;
        line-height: 20px;
        width:100%;
        position: relative;
        &:after{
            content: "";
            background-image: url(../images/arrow-img.png);
            height: 12px;
            width: 12px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            right: 22px;
            top: 25px;
            transition: transform .1s ease-in-out;  
        }
    }
    .accordionItemContent{
        font-family: 'Museo Sans';
        font-size: 18px;
        // line-height: 22px;
        color: #000;
        font-weight: 300;
        p{
            font-family: 'Museo Sans';
            font-size: 18px;
            // line-height: 22px;
            color: #000;
            margin-bottom: 15px;
            font-weight: 300;
        }
    }
    .accordionItem{
        border: 1px solid #cf0000;
        background-color: #f9f9f9;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 0 15px;
        &.close{
            .accordionItemContent{
                height:0px;
                transition:height 1s ease-out;
                -webkit-transform: scaleY(0);
                -o-transform: scaleY(0);
                -ms-transform: scaleY(0);
                transform: scaleY(0);
                float:left;
                display:block;
            }
        }
        &.open{
            .accordionItemContent{
                padding: 22px;
                -webkit-transform: scaleY(1);
                -o-transform: scaleY(1);
                -ms-transform: scaleY(1);
                transform: scaleY(1);
                -webkit-transform-origin: top;
                -o-transform-origin: top;
                -ms-transform-origin: top;
                transform-origin: top;

                -webkit-transition: -webkit-transform 0.30s ease-out;
                -o-transition: -o-transform 0.30s ease;
                -ms-transition: -ms-transform 0.30s ease;
                transition: transform 0.30s ease;
                box-sizing: border-box;
            }
            .accordionItemHeading{
                -webkit-border-top-left-radius: 3px;
                -webkit-border-top-right-radius: 3px;
                -moz-border-radius-topleft: 3px;
                -moz-border-radius-topright: 3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 0px;
                -webkit-border-bottom-left-radius: 0px;
                -moz-border-radius-bottomright: 0px;
                -moz-border-radius-bottomleft: 0px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                &:after{
                    content: "";
                    transform: rotate(90deg);
                }
            }
        }
    }
}
.flickity-page-dots{
    display: flex;
    .dot{
        margin: 0 8px;
        list-style-type: none;
    }
}
.video-product{
     padding:5rem 0;
     @include mq($until: 767px) {
     padding:2rem 0;
     }
    .video-product-row{
      justify-content: center;
      align-items: center;
      @include mq($until: 767px) {
       .xs7.mobile-row-xs7{
          max-width:100%;
          flex:inherit;
          width:100%;
          order:2;
       }
       .xs5.mobile-row-xs5{
          max-width:100%;
          width:100%;
          flex:inherit;
          margin-top:60px;
       }
       .video-carousel__title{
         text-align:left;
       }
       .video-carousel__content{
          text-align:left;
       }

      }
    }
    .video-carousel__carousel{
      right:inherit;
      left:0;
      position:inherit;
      transform:inherit;
      width:100%;
    }
}