/**
 * Templates: Page
 * -----------------------------------------------------------------------------
 * Styles for the page template.
 */
.page {
  &__header {
    margin-top: $SPACING_3XL;
  }

  &__content {
    p {
      font-size: 16px;
      line-height: 1.75;
      margin: $SPACING_L 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $WEIGHT_BOLD;
      line-height: 1.4;
    }
  }
}

.page-template-default:not(.home) {
  .site-main {
    background-color: $COLOR_WHITE;
    padding-bottom: $SPACING_3XL * 2;
  }
}