/**
 * Templates: Single
 * -----------------------------------------------------------------------------
 * Styles for the single post template.
 */
.post {
  &__thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: $SPACING_3XL;
    padding-top: 47%;
    width: 100%;
  }

  &__header {
    margin-top: $SPACING_3XL;
  }

  &__sidebar {
    margin-top: $SPACING_3XL;
  }

  &__title {
    font-size: 35px;
    font-weight: $WEIGHT_BOLD;
  }

  &__content {
    margin-top: $SPACING_3XL;

    p {
      font-size: 16px;
      line-height: 1.75;
      margin: $SPACING_L 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $WEIGHT_BOLD;
      line-height: 1.4;
    }
  }

  &__meta {
    border-bottom: 1px solid $COLOR_SILVER_CHALICE;
    color: $COLOR_SILVER_CHALICE;
    display: flex;
    font-weight: $WEIGHT_LIGHT;
    justify-content: space-between;
    margin-top: $SPACING_3XL * 1.5;
    padding: $SPACING_M 0;
  }

  &__download {
    @include button-reset;
    cursor: pointer;

    .icon__download {
      height: 18px;
      width: 17px;
    }
  }

  &__related-title {
    margin: $SPACING_3XL 0;
  }

  @include mq($until: large) {
    &__sidebar {
      border-top: 1px solid $COLOR_BORDER;
      padding-top: $SPACING_M;
    }

    &__meta {
      border-bottom: 0;
      border-top: 1px solid $COLOR_SILVER_CHALICE;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 0;
      padding: $SPACING_L 0;
    }

    &__download {
      margin-right: $SPACING_L;
    }

    &__highlighted {
      display: none;
    }
  }
}

.post-template-default {
  .site-main {
    background-color: $COLOR_WHITE;
    padding-bottom: $SPACING_3XL * 2;
  }
}