/**
 * Component: Comments
 * -----------------------------------------------------------------------------
 * Defines the styling of the comments section.
 */
.comments {
  border-top: 1px solid $COLOR_BORDER;
  margin-top: $SPACING_3XL;
  padding-top: $SPACING_XL;

  &__title {
    margin-top: 0;
  }

  &__list {
    @include list-reset;

    .comment {
      padding: $SPACING_L 0;
    }
  }

  &__nav {
    padding: $SPACING_L 0;
    text-align: center;
  }

  &__nav-link {
    display: inline;
    padding: 0 $SPACING_M;
  }
}

.comment-form {
  max-width: 600px;
}