/**
 * Component: Pagination
 * ------------------------------------------------------------------------------
 * Global styling for the pagination component.
 *
 */
.pagination {
  margin: $SPACING_XL 0;
  text-align: center;

  .page-numbers {
    padding: 0 $SPACING_XS;
    text-decoration: none;

    &.current {
      font-weight: $WEIGHT_BOLD;
    }
  }
}