/**
 * Section: Downloads
 * -----------------------------------------------------------------------------
 * Displays text with links to download files.
 */
.downloads {
  margin: $SPACING_3XL * 1.5 0;

  &__title {
    font-size: 35px;
    margin: $SPACING_S 0 $SPACING_3XL 0;
    text-align: center;
  }

  &__item {
    background-color: $COLOR_WHITE;
    border: 1px solid rgba($COLOR_BLACK, 0.08);
    display: flex;
    margin-bottom: $SPACING_L;
  }

  &__item-body {
    border-right: 1px solid $COLOR_ALTO;
    flex-grow: 1;
    margin: $SPACING_L 0;
    padding: 0 $SPACING_L;
    position: relative;

    &::after {
      background-color: $COLOR_PRIMARY;
      content: '';
      display: block;
      height: 25px;
      position: absolute;
      right: -2px;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
    }
  }

  &__item-subtitle {
    color: $COLOR_PRIMARY;
    font-size: 12px;
    font-weight: $WEIGHT_BLACK;
    line-height: 2.5;
    margin: 0 0 $SPACING_XS 0;
    text-transform: uppercase;
  }

  &__item-title {
    font-size: 18px;
    font-weight: $WEIGHT_BOLD;
    line-height: 1.2;
    margin: 0 0 $SPACING_XS 0;
  }

  &__item-content {
    font-size: 16px;
    font-weight: $WEIGHT_LIGHT;
    line-height: 1.4;
    margin: 0;
  }

  &__item-button {
    align-items: center;
    display: flex;
    flex: 0 0 30%;
    justify-content: center;
  }

  &__item-icon {
    max-width: 100%;
  }

  &::before {
    background-color: $COLOR_ALTO;
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto $SPACING_3XL auto;
    width: 26%;
  }

  &::after {
    background-color: $COLOR_ALTO;
    content: '';
    display: block;
    height: 1px;
    margin: $SPACING_3XL auto 0 auto;
    width: 26%;
  }

  @include mq($until: medium) {
    &__title {
      font-size: 25px;
      margin-bottom: $SPACING_2XL;
    }

    &__item-title {
      font-size: 16px;
    }

    &__item-content {
      font-size: 16px;
    }

    &::before {
      margin-bottom: $SPACING_XL;
    }

    &::after {
      margin-top: $SPACING_XL;
    }
  }
}

.ll-downpopup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: 768px) and (min-height: 860px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__container {
    width: 100%;
    max-width: 800px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;

    @media (min-width: 600px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;

      @media (min-width: 600px) {
        font-size: 32px;
      }

      @media (min-width: 768px) {
        font-size: 38px;
      }

      @media (min-width: 1024px) {
        font-size: 52px;
      }
    }

    section {
      text-align: center;
      font-size: 16px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #fff;

      @media (min-width: 600px) {
        font-size: 20px;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }

      @media (min-width: 768px) {
        font-size: 24px;
      }

      @media (min-width: 1024px) {
        margin-bottom: 60px;
        padding-bottom: 60px;
        font-size: 26px;
      }
    }
  }

  &__form {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    transition: all 0.3s;

    @media (min-width: 768px) {
      top: 30px;
      right: 30px;
    }

    @media (min-width: 1024px) {
      top: 50px;
      right: 50px;
    }

    &:hover {
      opacity: 0.8;
    }

    &::before,
    &::after {
      content: '';
      height: 3px;
      width: 100%;
      position: absolute;
      top: calc(50% - 1.5px);
      right: 0;
      left: 0;
      background: #fff;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
