/**
 * Section: Logo Banner
 * -----------------------------------------------------------------------------
 * Displays client logos in a row.
 */
.logo-banner {
  background-color: $COLOR_WHITE;
  padding-bottom: $SPACING_3XL;

  &__container {
    display: flex;
  }

  &__logos {
    align-items: center;
    display: flex;
    overflow-x: auto;
    padding: $SPACING_XS $SPACING_3XL $SPACING_XS 0;
  }

  &__logo {
    margin: $SPACING_M $SPACING_2XL $SPACING_M 0;
  }

  &__anchor {
    align-items: center;
    background-color: $COLOR_PRIMARY;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    min-width: 22%;

    @media (max-width: 1100px) {
      right: -24px;
      position: relative;
      max-width: 100px;
      min-width: 100px;
    }
  }

  &__anchor-icon {
    height: 42px;
    width: 42px;
  }

  @include mq($until: medium) {
    padding-bottom: $SPACING_L;

    &__logos {
      justify-content: space-between;
      padding: 0 $SPACING_XL;
      width: 100%;
    }

    &__logo {
      margin-right: $SPACING_M;
      max-width: 70px;
    }

    &__anchor {
      display: none;
    }

    .col {
      padding: 0;
    }
  }
}
