/**
 * Section: Video Hero
 * -----------------------------------------------------------------------------
 * A video hero banner.
 */
.video-hero {
  height: 75vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__player-wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  &__player {
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__mute {
    @include button-reset;
    bottom: $SPACING_XL;
    cursor: pointer;
    position: absolute;
    right: $SPACING_3XL;

    &.is-active {
      opacity: 0.5;
    }
  }

  @include mq($until: large) {
    height: 50vh;
  }

  @include mq($until: medium) {
    height: 40vh;
  }
}