/**
 * Component: Card
 * ------------------------------------------------------------------------------
 * Styles the card component, used for post cards and more.
 *
 */
.card {
  $PARENT: &;
  margin-bottom: $SPACING_2XL;
  
  &__thumbnail {
    background-position: center;
    background-size: cover;
    display: block;
    padding-top: 90%;
    position: relative;
    width: 100%;
  }

  &__body {
    background-color: $COLOR_WHITE;
    box-shadow: 0 8px 29px 0 rgba($COLOR_BLACK, 0.08);
    padding: $SPACING_L;
    position: relative;
  }

  &__title {
    display: block;
    font-size: 20px;
    font-weight: $WEIGHT_BLACK;
    line-height: 1.2;
    text-decoration: none;
  }

  &__excerpt {
    font-size: 16px;
    font-weight: $WEIGHT_MEDIUM;
    line-height: 1.2;
  }

  &__meta {
    color: $COLOR_SILVER_CHALICE;
    font-weight: $WEIGHT_LIGHT;
  }

  &__link {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &--snippet {
    #{$PARENT}__body {
      background-color: transparent;
      box-shadow: none;
    }

    #{$PARENT}__excerpt {
      line-height: 1.8;
    }

    #{$PARENT}__thumbnail {
      margin-bottom: $SPACING_L;
      padding-top: 50%;
    }
  }

  &--featured {
    display: flex;

    #{$PARENT}__body {
      padding: $SPACING_3XL * 1.2 $SPACING_XL $SPACING_L $SPACING_XL;
    }

    #{$PARENT}__title {
      font-size: 22px;
    }

    #{$PARENT}__thumbnail {
      flex: 0 0 65%;
      padding-top: 0;
    }

    #{$PARENT}__excerpt {
      line-height: 1.5;
    }

    #{$PARENT}__meta {
      margin-top: $SPACING_3XL;
    }

    @include mq($until: medium) {
      flex-direction: column-reverse;

      #{$PARENT}__thumbnail {
        flex: 0 0 100%;
        padding-top: 50%;
      }

      #{$PARENT}__body {
        padding: $SPACING_L;
      }

      #{$PARENT}__title {
        font-size: 20px;
      }

      #{$PARENT}__meta {
        margin-top: 0;
      }
    }
  }

  &--archive {
    #{$PARENT}__title {
      min-height: 72px;
    }

    @include mq($until: wide) {
      #{$PARENT}__title {
        font-size: 16px;
        min-height: 58px;
      }
    }

    @include mq($until: 1200px) {
      #{$PARENT}__title {
        font-size: 14px;
        line-height: 1.3;
        min-height: 48px;
      }
    }
  }
}