/**
 * Component: Menu Drawer
 * ------------------------------------------------------------------------------
 * Styles for the menu drawer component.
 * - Appears globally.
 *
 */
 .menu-drawer {
  background-color: $COLOR_WHITE;
  border-right: 1px solid $COLOR_BORDER;
  height: 100%;
  left: -100%;
  max-width: 300px;
  position: fixed;
  top: 0;
  transition: left 0.4s ease;
  width: 100%;
  z-index: 48;

  &__container {
    height: 100%;
    overflow-y: auto;
  }

  &__header {
    padding: $SPACING_L;
  }

  &__body {
    margin-bottom: $SPACING_L;
  }

  &__close {
    @include button-reset;
    cursor: pointer;
    vertical-align: middle;
  }

  .site-nav {
    border-bottom: 1px solid $COLOR_BORDER;

    & > .site-nav__item {
      border-top: 1px solid $COLOR_BORDER;
      display: flex;
      flex-wrap: wrap;
    }

    &__dropdown {
      display: none;
      flex: 0 0 100%;
      padding-bottom: $SPACING_M;

      .site-nav__link {
        font-size: 14px;
        padding: $SPACING_XS $SPACING_XL;
      }

      &.is-open {
        display: block;
      }
    }

    &__link {
      display: block;
      flex-grow: 1;
      padding: $SPACING_M 0 $SPACING_M $SPACING_L;
    }

    &__caret {
      padding: $SPACING_XS $SPACING_L;
    }
  }

  &__footer {
    margin: $SPACING_L 0;
    padding: 0 $SPACING_L;
  }

  &__cta {
    display: block;
    text-decoration: none;
    width: 100%;
  }

  &.is-active {
    left: 0;
  }
}