/**
 * Component: Overlay
 * ------------------------------------------------------------------------------
 * A reusable window overlay for toggleable elements.
 *
 */
.overlay {
  background-color: $COLOR_BLACK;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.3s ease;
  visibility: hidden;
  width: 100%;
  z-index: 24;

  &.is-active {
    opacity: 0.4;
    visibility: visible;
  }
}