/**
 * Component: Site Nav
 * ------------------------------------------------------------------------------
 * Styles for the global site nav element.
 *
 */
.site-nav {
  $PARENT: &;
  @include list-reset;

  &__caret {
    &[aria-expanded=true] {
      .icon {
        transform: scale(-1);
      }
    }
  }

  &__dropdown {
    @include list-reset;

    #{$PARENT}__item {
      display: block;
    }
  }

  &__caret {
    @include button-reset;
    color: rgba($COLOR_BLACK, 0.5);
    padding: $SPACING_2XS;

    .icon {
      height: 5px;
      width: 10px;
    }
  }

  &__link {
    text-decoration: none;
  }
}