/**
 * Component: Tabs
 * ------------------------------------------------------------------------------
 * Tabs component with control and content.
 *
 */
.tabs {
  &__stage {
    position: relative;
    transition: 0.6s ease;
  }

  &__content {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 0.6s ease;
    visibility: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}