/**
 * Component: Widget
 * ------------------------------------------------------------------------------
 * Styles for the global widget element.
 *
 */
.widget {
  margin-bottom: $SPACING_XL;

  ul {
    @include list-reset;
  }

  li {
    padding: $SPACING_2XS 0;
  }
}