/**
 * Base: Display
 * -----------------------------------------------------------------------------
 * Styles for displaying elements.
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $COLOR_BACKGROUND;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.site-main {
  flex-grow: 1;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: $COLOR_LINK;

  &:hover {
    color: $COLOR_LINK_HOVER;
  }
}

*:focus {
  outline: 0;
}